ul
	li 
		a(href="/admin/author/",role="navigation") Auteurs
	li 
		a(href="/admin/publication/",role="navigation") Pages
	li
		a(href="/admin/prestation/", role="navigation") Prestations
	li
		a(href="/admin/parameter/", role="navigation") Paramètres
	li 
		a(href="/admin/categorie/") Cat&eacute;gories
	li
		a(href="/admin/tag/") Tags
