include ../../mixins/widgets
div#message 
	!= context.flash

form#post-form(class="right-form",action=`/admin/parameter/${action}/`,enctype="multipart/form-data",method="POST")
	input(type="hidden",id="csrf_token",name="csrf_token",value=`${context.csrf_token}`)
	input(type="hidden",id="id",name="id",value=`${objet.id}`)
	+input_file('logo','Logo','uploads',objet.logo,{})
	+input_line('societe','Société',objet.societe,{})
	+input_line('salt','Salt',objet.salt,{})
	+input_line('static','Répertoire fichiers statiques',objet.static,{})
	+input_line('upload','Répertoire fichiers uploads',objet.upload,{})
	+input_line('smtp','Smtp',objet.smtp,{})
	+input_line('port','Port smtp',objet.port,{})
	+input_model('checkbox','authent','Authentification',objet.authent,{})
	+select_line('encrypt','Chiffrement',[{id:'None',value:'None'},{id:'SSL',value:'SSL'},{id:'TLS',value:'TLS'}],'value',objet.encrypt,{})
	+input_line('login_mail','Mail identifiant',objet.login_mail,{})
	input(type="hidden",name='mdp_mail','password',{})
	div#password.hide
		+input_password('mpassword','Mot de passe :',"",{})
		+input_password('mconfirm','Confirmer Mot de passe :',"",{})
		input(id="updatepassword",type="button",value="Modifier Mot de passe")
	p.form-line
		input(type="submit",id="submit",name="submit",value="Valider")
