include ../../mixins/widgets
div#message 
	!= context.flash
form#tag-form(class="right-form",action=`/admin/tag/${action}/`,enctype="multipart/form-data",method="POST")
	input(type="hidden",id="csrf_token",name="csrf_token",value='#{context.csrf_token}')
	input(type="hidden",id="id",name="id",value="#{objet.id}")
	+input_line('tag','Tag :',"",{})
	script
		| var content = !{JSON.stringify(objet)}
	p.form-line
		input(type="submit",id="submit",name="submit",value="Valider")
