extends layout
block content
	div#wrapper
		include menu.jade
		include header
		p.titre-rubrique Mentions légales
		section#row1-body.row.mentions
			p En vous connectant à ce site, vous acceptez sans réserve l'ensemble des modalités d'utilisation du présent site, merci de les consulter avant de le parcourir.
			h2 Editeur du site
			div
				p Site Internet association PRATT
				p par association PRATT
				p Tél. : + 33 (0)3.83.40.68.42
				p Port.: + 33 (0)6.79.59.43.56
				p http://aikido-pratt.rhcloud.com
				p mail :par formulaire de contact : http://aikido-pratt.rhcloud.com/contact/
		
			h2 Conditions d'utilisation
			p 	Le site est accessible par les url suivants : aikido-pratt@rhcloud.com est exploité dans le respect de la législation française. L'utilisation 				de ce site est régie par les présentes conditions générales . En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions 			et les avoir acceptées . Celles-ci pourront êtres modifiées à tout moment et sans préavis par la société association PRATT , qui ne saurait 			être tenue pour responsable en aucune manière d’une mauvaise utilisation du service.
			h2 Responsables éditoriaux
			p Membres de l'association désignés.
			h2 Limitation de responsabilité
			div
				p 	Le fonctionnement de ce site est périodiquement remis à jour et testé. 
				Il peut toutefois des dysfonctionnements ou bugs non détectés par notre équipe. Si vous constatez ce qui parait être un dysfonctionnement, 
				merci de bien vouloir le signaler par email en décrivant le problème de la manière la plus précise possible (page posant problème, action 					déclenchante, type de navigateur utilisé, …).
				p	Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, l'association PRATT 				ne saurait être tenue responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données 					consécutives au téléchargement.
				p	Les photos sont non contractuelles.
				p	L'association PRATT met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de son 					site internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations et 					signaler toutes modifications du site qu'il jugerait utile. association PRATT n'est en aucun cas responsable de l'utilisation faite de ces 					informations, et de tout préjudice direct ou indirect pouvant en découler.
				p	Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet 				ne sauraient engager la responsabilité de l'association PRATT.
			h2 Litiges
			p	Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de 				l'exécution de celles-ci seront de la compétence exclusive des tribunaux français.
				La langue de référence, pour le règlement de contentieux éventuels, est le français.
			h2 Déclaration à la CNIL
			p	Le présent site internet est dispensé de toute déclaration à la CNIL, conformément à la Dispense n° 8 - Délibération n° 2010-229 du 10 juin 			2010 dispensant de déclaration les traitements automatisés de données à caractère personnel mis en œuvre par des organismes à but non lucratif 				abrogeant et remplaçant la délibération n° 2006-130 du 9 mai 2006.</p>
			h2 Propriété intellectuelle
			p	Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et 				icônes sont la propriété exclusive de la société de l'association PRATT à l'exception des marques, logos ou contenus appartenant à d'autres 			sociétés partenaires ou auteurs.Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de 				ces différents éléments est strictement interdite sans l'accord exprès par écrit d’ association PRATT. Cette représentation ou reproduction, 				par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle.
			p	Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, 				les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre. association PRATT est identiquement 				propriétaire des "droits des producteurs de bases de données" visés au Livre III, Titre IV, du Code de la Propriété Intellectuelle (loi n° 				98-536 du 1er juillet 1998) relative aux droits d'auteur et aux bases de données. Pour toute demande d'autorisation ou d'information, veuillez 				nous contacter par notre formulaire de contact à l'adresse suivante : http://www.association PRATT.com/contact Par ailleurs, la mise en forme 				de ce site a nécessité le recours à des sources externes dont nous avons acquis les droits ou dont les droits d'utilisation sont ouverts.
			h2 Conditions de service
			p	Ce site est proposé en langages HTML5 et CSS3, pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de 				recourir à des navigateurs modernes comme Safari, Firefox, Chrome,...
			h2 Cookies
			p	Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de petits fichiers textes stockés sur votre 			disque dur afin d'enregistrer des données techniques sur votre navigation.
				|<br>
				Certaines parties de ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.
			h2 Liens hypertextes
			div
				p	Le site internet d’association PRATT peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet. 
					L'association ne dispose d'aucun moyen pour contrôler les sites en connexion avec son site internet. L'association PRATT ne répond donc pas 				de la disponibilité de tels sites et sources externes, ni ne la garantit.
				p	Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources 					externes,et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les 				risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.
				p	Les utilisateurs, les abonnés et les visiteurs du site internet aikido-pratt.rhcloud.com ne peuvent mettre en place un hyperlien en 				direction de ce site sans l'autorisation expresse et préalable du président de l'association.
				p	Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction du site aikido-pratt.rhcloud.com, il 					lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. L'association 					PRATT se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.
			h2 Recherche
			p	En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune façon qu' association PRATT reconnaît 				ou accepte quelque responsabilité quant à la teneur ou à l'utilisation dudit site.
			h2 Responsabilité
			p	Aucune autre garantie n'est accordée à l'utilisateur du site, auquel incombe l'obligation de formuler clairement ses besoins et le devoir de 				s'informer. Si des informations fournies par association PRATT apparaissent inexactes, il appartiendra au client de procéder lui-même à toutes 				vérifications de la cohérence ou de la vraisemblance des résultats obtenus. association PRATT ne sera en aucune façon responsable vis à vis des 			tiers de l'utilisation par le client des informations ou de leur absence contenues dans ses produits y compris un de son site internet.</p>
			h2 Contactez-nous
			p	L'association PRATT est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire en français en utilisant le 				formulaire de contact à : <a href="http://www.association PRATT.com/contact/">nous contacter</a>
		include footer
