extends layout
block content
	section#principal
		div.row
			div.col-12.text-center
				h1#titre= prestation.prestation
		div#illustration
			img.image.text-center(src=`/images/${prestation.illustration}`)
		br
		div#content
			div !{prestation.content}