header#head-site.head-site
	section#banner.row
		div#div-logo.hidden-xs.hidden-sm.hidden-md.col-lg-3.text-center
			span#spanlogo(style=`background-image:url('/images/${params.logo}');`)
		div#div-societe.col-xs-12.col-sm-12.col-md-12.col-lg-9
			h1#titre.text-center= params.societe

	div.row.topmenu
		div.col-10
			nav.navbar.navbar-dark.navbar-expand-lg.bg-dark
				a.navbar-brand(href="#") &nbsp;
				button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
					span.navbar-toggler-icon
				div.collapse.navbar-collapse#navbarSupportedContent
					ul.navbar-nav.mr-auto
						li.nav-item(active="active")
							a.nav-link(href="/") Accueil
						li.nav-item
							a.nav-link(href="/prestations") Prestations
						li.nav-item
							a.nav-link(href="/infos/") Informations pratiques
						li.nav-item
							a.nav-link(href="/contact/") Me contacter
		div.col-2
			
				if context.log != null
					p
						span Vous êtes connecté en tant que #{context.log.login}
					p
						span 
							a(href="/logout/") Se deconnecter
				else
					p
						span 
							a(href="/login/") Se connecter
