header#head-site.head-site
	section#banner.row
		div#div-logo.col-12.col-xl-2.col-sm-12.col-md-12.col-lg-2.text-center
			span#spanlogo(style=`background-image:url('/images/${params.logo}');`)
		div#div-societe.d-none.d-sm-none.d-md-none.d-lg-block.d-xl-block.col-lg-8.col-xl-8
			h1#titre.text-center= params.societe
		div.d-sm-none.d-md-none.col-lg-2.col-xl-2.text-center 

	div.row.topmenu
		div.col-12
			nav.navbar.navbar-dark.navbar-expand-lg.bg-dark
				a.navbar-brand.d-md-none.d-lg-none(href="#")= params.societe
				button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
					span.navbar-toggler-icon
				div.collapse.navbar-collapse#navbarSupportedContent
					ul.navbar-nav.mr-auto
						li.nav-item(active="active")
							a.nav-link(href="/") Accueil
						li.nav-item
							a.nav-link(href="/prestations") Prestations
						li.nav-item
							a.nav-link(href="/infos/") Informations pratiques
						li.nav-item
							a.nav-link(href="/contact/") Me contacter
				div.collapse.navbar-collapse.text-right(style="max-width:200px")
			
					if context.log != null
						p.navbar-text
							span #{context.log.login}
						p.navbar-text
							span
								a(href="/logout/") &nbsp;Se deconnecter
					else
						p.navbar-text
							span.white
								a(href="/admin") &nbsp;Se connecter
