doctype html

html
	head
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		title= title
		meta(name="description" content=description)
		meta(name="keywords" content=keywords)
		meta(name="viewport" content="width=device-width, initial-scale=1")

		
		each script in context.scripts
			script(type="text/javascript" src= script)

		
	body
		div#wrapper
			include header
			block content
			include footer

	
