extends layout
block content
	section#principal.text-center
		for presta in prestations
			div.vignette.align-top
				a(href=`/prestation/${presta.id}`)
					img.image(src=`images/${presta.illustration}`)
				h5.titre
					a(href=`/prestation/${presta.id}`)= presta.prestation