extends layout
block content
	div#login
		header Administration de Aikido-pratt
		div#content
			div#msg #{msg}
			form#formlogin(action="/signin/",method='POST')
					input(type="hidden",name="target_url",value="#{target_url}")
					input(type="hidden",name="csrf_token" value="#{context.csrf_token}")
					p.line
						label(for="user") Pseudo ou Email :
						input#user(type="text",name="user",value="")
					p.line
						label(for="password") Mot de passe :
						input#password(type="password",name="password",value="")
					p.line
						input(type="submit",value="Valider")
	
