#principal{
	width:100%;
	margin-top:1.5em;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1.5em;
	background-color:@color-bg-content;
	padding:1.5em;
}
#wrap-login{
	margin-top:15%;
	margin-bottom:15%;

}
#login{
	margin-left:auto;
	margin-right:auto;
	
	label{
		width:25%;
	}
	input{
		width:50%;
	}
	#button-login{
		text-align:center;
	}
}


.vignette{
	display:inline-block;
	padding:0.5em;
	width:300px;
	max-height:500px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	.image{
		margin-left:auto;
		margin-right:auto;
		width:250px;
		height:250px;
		-moz-border-radius : 50%;
  		-webkit-border-radius : 50%;
  		border-radius : 50%;
		margin-bottom:1.5em;
	}
	.titre{
		text-align:center;
	}
}
#illustration{
	display:inline-block;
	width:100%;
	text-align:center;
	.image{
		display:block;
		width:300px;
		height:300px;
		-moz-border-radius : 50%;
  		-webkit-border-radius : 50%;
  		border-radius : 50%;
  		margin-left:auto;
  		margin-right:auto;
		margin-bottom:1.5em;
	}
}
label{
	vertical-align:top;
}
a{
	color:@color-link;
	text-decoration:none;
}
#aside-right{
	h2{
		color:@color-font-h;
	}
	li{
		list-style-type:square;
		color:@color-link;
	}
	text-size:1em;
	line-height:1.5em;


}