header{

	background-color:@color-bg2;
}
.navbar-white{
	color:#fff;
}
#spanlogo{
	text-align:center;
	display:inline-block;
	width:200px;
	height:200px;
	line-height:200px;
	background-repeat:no-repeat;
	background-size:200px 200px;
}
#div-societe{
	
	h1{
		font-family:Fairy;
		line-height:200px;
		height:200px;
	}
}