html{
	font-size:16pt;
	font-family:Chapaza;

}

body{
	font-family:Chapaza;
	background-color:@color-bg1;
	font-size:0.9em;
}
#wrapper{
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
	background-color:@color-bg2;
	text-align:justify;
}
