/* Font Face */
@font-face {
  font-family: Fairy;
  src: url('./fonts/HennyPenny-Regular.otf');
}
@font-face {
  font-family: Chapaza;
  src: url('./fonts/Chapaza.ttf');
}
@font-face {
  font-family: ChapazaItalic;
  src: url('./fonts/Chapaza Italic.ttf');
}
/*
* Variables communes a l'ensemble du site
*/
/*@color-header:#CDFFE9;
@color-menu:#043427;
@color-footer:#CDFFE9;
@color-bg1:#32AC93;
@color-bg2:#CDFFE9;
@color-bg-content:#aed7cc;

@color-font-title:;
@color-font-text:;
@color-link:;
@color-link-hover:;*/
header {
  background-color: #fff;
}
.navbar-white {
  color: #fff;
}
#empty {
  height: 200px;
  width: 100%;
  background-image: url('/img/paon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.7;
}
#spanlogo {
  margin: 0.5em 0 0 0;
  display: inline-block;
  width: 150px;
  height: 150px;
  line-height: 150px;
  background-repeat: no-repeat;
  background-size: 150px 150px;
}
h1 {
  margin: 0.5em 0 0 1em;
  display: inline-block;
  font-family: Fairy;
  line-height: 150px;
  height: 150px;
}
html {
  font-size: 16pt;
  font-family: Chapaza;
}
body {
  font-family: Chapaza;
  background-color: #49bea1;
  font-size: 0.9em;
}
#wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  text-align: justify;
}
#principal {
  max-width: 80%;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  background-color: #fff;
  padding: 1em;
}
#wrap-login {
  margin-top: 15%;
  margin-bottom: 15%;
}
#login {
  margin-left: auto;
  margin-right: auto;
}
#login label {
  width: 25%;
}
#login input {
  width: 50%;
}
#login #button-login {
  text-align: center;
}
.vignette {
  display: inline-block;
  padding: 0.5em;
  width: 300px;
  max-height: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.vignette .image {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 1.5em;
}
.vignette .titre {
  text-align: center;
}
#illustration {
  display: inline-block;
  width: 100%;
  text-align: center;
}
#illustration .image {
  display: block;
  width: 300px;
  height: 300px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
.hide {
  display: None;
}
.show {
  display: block;
}
.form-line label {
  width: 30%;
}
.form-line input,
.form-line select,
.form-line textarea {
  width: 66%;
}
