/* Font Face */
@font-face {
  font-family: Fairy;
  src: url('./fonts/HennyPenny-Regular.otf');
}
@font-face {
  font-family: Chapaza;
  src: url('./fonts/Chapaza.ttf');
}
@font-face {
  font-family: ChapazaItalic;
  src: url('./fonts/Chapaza Italic.ttf');
}
/*
* Variables communes a l'ensemble du site
*/
/*@color-header:#CDFFE9;
@color-menu:#043427;
@color-footer:#CDFFE9;
@color-bg1:#32AC93;
@color-bg2:#CDFFE9;
@color-bg-content:#aed7cc;

@color-font-title:;
@color-font-text:;
@color-link:;
@color-link-hover:;*/
header {
  background-color: #fff;
}
.navbar-white {
  color: #fff;
}
#empty {
  height: 200px;
  width: 100%;
  background-image: url('/img/paon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.7;
}
#spanlogo {
  margin: 0.5em 0 0 0;
  display: inline-block;
  width: 150px;
  height: 150px;
  line-height: 150px;
  background-repeat: no-repeat;
  background-size: 150px 150px;
}
h1 {
  margin: 0.5em 0 0 1em;
  display: inline-block;
  font-family: Fairy;
  line-height: 150px;
  height: 150px;
  color: #00753F;
  font-size: 4rem;
}
html {
  font-size: 16pt;
  font-family: Chapaza;
}
body {
  font-family: Chapaza;
  background-color: #49bea1;
  font-size: 1rem;
}
#wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  text-align: justify;
}
a {
  color: #49bea1;
}
a:hover {
  color: #49bea1;
  text-decoration: none;
}
#principal {
  width: 100%;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  background-color: #fff;
  padding: 1.5em;
}
#wrap-login {
  margin-top: 15%;
  margin-bottom: 15%;
}
#login {
  margin-left: auto;
  margin-right: auto;
}
#login label {
  width: 25%;
}
#login input {
  width: 50%;
}
#login #button-login {
  text-align: center;
}
.vignette {
  display: inline-block;
  padding: 0.5em;
  width: 300px;
  max-height: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.vignette .image {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 1.5em;
}
.vignette .titre {
  text-align: center;
}
#illustration {
  display: inline-block;
  width: 100%;
  text-align: center;
}
#illustration .image {
  display: block;
  width: 300px;
  height: 300px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
label {
  vertical-align: top;
}
a {
  color: #49bea1;
  text-decoration: none;
}
#aside-right {
  text-size: 1em;
  line-height: 1.5em;
}
#aside-right h2 {
  color: #00753F;
}
#aside-right li {
  list-style-type: square;
  color: #49bea1;
}
#calendrier {
  min-height: 400px;
}
.calendrier {
  width: 300px;
  height: 300px;
  /*font-family:Ubuntu,Arial;*/
  /*padding-bottom:4%;*/
  margin-bottom: 1em;
}
.calendrier table {
  width: 100%;
  height: 100%;
}
.entete {
  top: 5px;
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.select_mois,
.bouton_moins,
.bouton_plus {
  vertical-align: top;
  /*font-size:10pt;*/
  height: 1.5em;
  border: thin outset #C3D1E6;
}
.bouton_moins,
.bouton_plus {
  margin: 0;
  width: 10%;
}
.bouton_moins {
  text-align: right;
  padding-right: 2px;
}
.bouton_plus {
  text-align: left;
  padding-left: 2px;
}
.calend_close {
  display: block;
  margin-top: 5px;
  /*margin-left:220px;*/
  border-style: none;
}
#img_close {
  width: 10%;
  height: 10%;
  border-style: none;
}
.texte_annee {
  /*font-size:9pt;*/
  width: 35%;
  border-style: none;
}
.fond_calendrier {
  position: relative;
  top: 1%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
}
th,
td {
  /*font-size:9pt;*/
  width: 12.5%;
  height: 12.5%;
  text-align: center;
  border: solid 1px #DCE1E2;
}
.tits_0,
.tits_1 {
  background-color: #2a3954;
  color: #fff;
}
.case_semaine_0,
.case_semaine_1 {
  background-color: #727579;
  color: #fff;
}
.casewe_0,
.casewe_1 {
  background-color: #c0c0bc;
}
.case_0_autre,
.case_1_autre {
  color: #BCBCBC;
}
.casewe_0_autre,
.casewe_1_autre {
  /*color:#BCBCBC;*/
  background-color: #c0c0bc;
}
.mark_case_0 {
  background-color: #F80202;
  color: #fff;
  cursor: pointer;
}
#select_mois_0,
#select_mois_1 {
  text-indent: 1%;
  /*font-size:10pt;*/
  padding-right: 2%;
}
#texte_annee_0,
#texte_annee_1 {
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
  width: 25%;
}
#search {
  width: 100%;
  font-size: 0.8em;
  font-weight: lighter;
}
#search input[type=submit] {
  font-weight: lighter;
}
.ligne-search {
  height: 40px;
  line-height: 40px;
  margin-top: 0.5em;
  vertical-align: top;
}
#pattern {
  margin-top: 0;
  height: 40px;
  line-height: 40px;
  width: 85%;
}
#search-input {
  width: 40px;
  height: 40px;
  line-height: 30px;
  background-image: url('/img/search_icon.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.hide {
  display: None;
}
.show {
  display: block;
}
.form-line label {
  width: 30%;
}
.form-line input,
.form-line select,
.form-line textarea {
  width: 66%;
}
#admin-left-side ul {
  list-style: none;
}
#admin-left-side li::before {
  content: " . ";
  font-size: 1.5em;
  font-weight: 800;
  color: #49bea1;
}
#admin-left-side a {
  color: #49bea1;
  text-decoration: none;
  text-align: left;
  font-size: 1.1em;
  list-items-color: #49bea1;
}
#admin-left-side a:hover {
  text-decoration: none;
}
#admin-wrapper h1 {
  color: #49bea1;
}
