/* Font Face */
@font-face{
	font-family:Fairy;
	src:url('./fonts/HennyPenny-Regular.otf');
}
@font-face{
	font-family:Chapaza;
	src:url('./fonts/Chapaza.ttf');
}
@font-face{
	font-family:ChapazaItalic;
	src:url('./fonts/Chapaza Italic.ttf');
}

/*
* Variables communes a l'ensemble du site
*/
//couleurs
/*@color-header:#CDFFE9;
@color-menu:#043427;
@color-footer:#CDFFE9;
@color-bg1:#32AC93;
@color-bg2:#CDFFE9;
@color-bg-content:#aed7cc;

@color-font-title:;
@color-font-text:;
@color-link:;
@color-link-hover:;*/

@color-header:#fff;
@color-menu:#043427;
@color-footer:#fff;
@color-bg1:rgb(73, 190, 161,0.7);
@color-bg2:#fff;
@color-bg-content:#fff;

@color-font-title:;
@color-font-text:;
@color-link:;
@color-link-hover:;

