/* Font Face */
@font-face{
	font-family:Fairy;
	src:url('./fonts/HennyPenny-Regular.otf');
}

/*
* Variables communes a l'ensemble du site
*/
//couleurs
/*@color-header:#CDFFE9;
@color-menu:#043427;
@color-footer:##CDFFE9;
@color-bg1:#32AC93;
@color-bg2:#CDFFE9;
@color-bg-content:#aed7cc;

@color-font-title:;
@color-font-text:;
@color-link:;
@color-link-hover:;*/

@color-header:#fff;
@color-menu:#043427;
@color-footer:#fff;
@color-bg1:#49BEA1;
@color-bg2:#fff;
@color-bg-content:#fcfbf4;

@color-font-title:;
@color-font-text:;
@color-link:;
@color-link-hover:;

