#search{
	width:90%;
	font-size:0.8em;
	font-weight:lighter;
	input[type=submit]{
		font-weight:lighter;
	}
}

.hide{
	display:None;
}
.show{
	display:block;
}
.form-line{
	label{
		width:30%;
	}
	input,select,textarea{
		width:66%;
	}
}